@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* .bg-primary {
    @apply bg-white dark:bg-slate-800;
} */

.selected-text::selection {
    color: white;
    background: rgb(247, 158, 91) ;
}


.animate-bounce {
    animation: bounce 1s ease infinite;
    }
    
    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
        }
        40% {
        transform: translateY(-10px);
        }
        60% {
        transform: translateY(-5px);
        }
    }
    

